@model Foodery.Web.ViewModels.Receipt.ReceiptDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div class="wrapper w-75 m-0 auto justify-content-center">

        <h1 class="text-primary">Receipt Details</h1>

        <hr class="hrcart text-primary" />

        <table>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <div class="d-flex justify-content-between">
                        <div class="product-name w-75">
                            <h4>@order.ProductName</h4>
                        </div>
                        <div class="product-quantity-and-price d-flex justify-content-between w-25">
                            <h4 class="text-left w-50">x@(order.Quantity)</h4>
                            <h4 class="text-right w-50">$@(order.ProductPrice.ToString("F2"))</h4>
                        </div>
                    </div>
                }

                <hr class="hrcart text-primary" />

                <div class="d-flex justify-content-between">

                    <h4 class="text-left w-50">Total</h4>
                    <h4 class="text-right w-50">$@Model.Orders.Sum(order => order.ProductPrice * order.Quantity)</h4>

                </div>

            </tbody>
        </table>

        <hr class="hrcart text-primary" />

        <dl>

            <div class="d-flex justify-content-between">

                <h4 class="text-left w-50">Recipient</h4>
                <h4 class="text-right w-50">@Model.Recipient</h4>

            </div>

            <div class="d-flex justify-content-between">

                <h4 class="text-left w-50">Created On</h4>
                <h4 class="text-right w-50">@Model.CreatedOn.ToString("dd/MM/yyyy")</h4>

            </div>

            <hr class="hrcart text-primary" />

            <div class="d-flex justify-content-between">

                <h4 class="text-left w-25">Receipt</h4>
                <h4 class="text-right w-75">@Model.Id</h4>
            </div>

            <hr class="hrcart text-primary" />
        </dl>
    </div>
</body>
</html>