@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-white bg-primary">
    <div class="card-header">
        <h3 class="card-title mt-3">Welcome to Foodery Web Shop for online food products.</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">We hope you have a wonderful experience!</h5>
    </div>
</div>
